/**
* ---------------------------------------------------------------------------------------------------
* [micro clearfix]
* ---------------------------------------------------------------------------------------------------
*/
.cf:before, .cf:after { content:""; display:block; overflow:hidden; }
.cf:after             { clear:both; }
.cf                   { zoom:1; }
/**
* ---------------------------------------------------------------------------------------------------
* [hidetext]
* ---------------------------------------------------------------------------------------------------
*/
.ht{ text-indent: 100%; white-space: nowrap; overflow: hidden; height: 0; }
/**
* ---------------------------------------------------------------------------------------------------
* [other]
* ---------------------------------------------------------------------------------------------------
*/